{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <span><img src="{{ user.profile.image.url }}" width="150px" height="150px"></span>
    <div>
        <h1>{{user.username}}</h1>
        <h4>{{user.email}}</h4>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
        </div>
    </form>
    <a class="btn btn-outline-info" href="#">Go Shop</a>
    <a class="btn btn-outline-info" href="{% url 'Scanpage' %}">Change Image</a>


   
</div>

{% endblock content %}







